envato/**/*.fig filter=lfs diff=lfs merge=lfs -text
envato/**/*.psd filter=lfs diff=lfs merge=lfs -text
envato/**/*.xd filter=lfs diff=lfs merge=lfs -text
envato/**/*.sketch filter=lfs diff=lfs merge=lfs -text
